body{
    font-family: arial;
}

.header_container{
    width: 100%;
    position:absolute;
    top:0px; left:0px; height:150px; right:0px;
    overflow:hidden;
}

.main_container{
    border-top:1px #d8d8d8 solid;
    width: 100%;
    position:absolute;
    top:150px; bottom:0px;left:0px; right:0px;
    overflow:auto;
}
